{% extends "base_layout.html" %}
{% block title %}Select seat{% endblock %}

{% block content %}
<div class="container-fluid mx-lg-4">
    <div class="row">
        <div class="col-lg-4 offset-1">
            <div class="mt-4">
                <a href="/" class="top-text text-decoration-none">BUTPALUCK</a>
            </div>
        </div>
        <div class="col-lg-4 offset-1">
            <div class="mt-5 text-lg-center">
                <h1>คืนตั๋ว</h1>
            </div>
        </div>
    </div>
    <br>
    <div class="row mt-2 justify-content-center">
        <div class="col-lg-10 offset-lg-1">
            <div class="row">
                <div class="col-lg-6 offset-lg-2 mb-2">
                    <div class="card border-white border-4 shadow"
                        style="width: 100%; background-image: linear-gradient(to bottom right, #FF61D2, #FE9090);">
                        <div class="card-body">
                            <p class="card-title fs-5">หมายเลขการจอง: {{no}}</p>
                            <form action="{{ url_for('choose_time') }}" method="post">
                                {% if ticket['select']=='option2' %}
                                <input class="form-check-input" type="hidden" name="select" id="inlineRadio1"
                                    value="option2">
                                <input type="hidden" id="start" name="start" value="{{ticket['start']}}">
                                <input type="hidden" id="end" name="end" value="{{ticket['end']}}">
                                {% else %}
                                <input class="form-check-input" type="hidden" name="ticket['start']" id="inlineRadio1"
                                    value="option1">
                                <input type="hidden" id="start" name="start" value="{{ticket['start']}}">
                                {% endif %}
                                <input type="hidden" id="start" name="cout-people" value="{{ticket['people']}}">
                                <div class="col-8 mt-2">
                                    <div class="row">
                                        <div class="col-4">
                                            <label for="calendar" class="col-form-label">ออกเดินทาง</label>
                                        </div>
                                        <div class="col-8">
                                            <input type="date" class="form-control" id="calendar"
                                                placeholder="วันที่ออกเดินทาง" name="calendar-start" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-8 mt-2">
                                    <div class="row">
                                        <div class="col-4">
                                            <label for="calendar2" class="col-form-label">เดินทางกลับ</label>
                                        </div>
                                        <div class="col-8">
                                            <input type="date" class="form-control" id="calendar2"
                                                placeholder="เดินทางกลับ" name="calendar-return">
                                        </div>
                                    </div>
                                </div>
                                <div class="text-center">
                                    <button type="submit" class="btn btn-danger pd-2">ยืนยัน</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}